


.heading{
	font-family: 'Poor Story', cursive;
	text-align: center;
	font-size: 80px;
	margin-top: 40px;
	color: #2F4F4F;
	font-weight: 200px;
}

#bar {
	height: 20px;
	width: 100%;
}

hr.style-two {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
    margin-right: 250px;
    margin-left: 250px;
}

.bio {
	text-align: center;
}

#line1 , #line4{
	font-size:20px;
	font-family: 'Anonymous Pro', monospace;
	color: black;
	font-weight: 900px;

}
#line2 , #line3 {
	font-family: 'Cutive Mono', monospace;
	font-size: 20px;
	color:black;
	font-weight: 900px;

}
#resume{

	font-size: 20px;
	/*margin-right:200px*/;
	margin-top: 30px;
}
#enter{

	margin-top: 40px;
	font-size: 22px;
	color:#2F4F4F;
	font-family: 'Cabin Sketch', cursive;
}


.btn, .btn-default{
	margin-top: 20px;
}

body{
	border: 15px solid #808080;
	margin-bottom: 20px;
	padding-bottom: 170px;
}
.thecontainer p span.cursor {
  display: inline-block;
  background-color: #ccc;
  margin-left: 0.1rem;
  width: 3px;
  animation: blink 1s infinite;

  }


















